{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{%  static 'about.css' %}">
{% endblock %}

{% block page_title %} About me{% endblock %}


{% block page_subtitle %}Thanks for stopping by..{% endblock %}


{% block content %}
    <div class="container  mt-5  d-flex justify-content-center">
        <div class="card col-lg-8 p-4 text-black lead border-0">
            <div class="card-text">Hey there! I'm Ankit, a recent high school graduate with a passion for computer
                science, machine learning, and artificial intelligence. From a young age, I've been captivated by the
                endless possibilities that technology offers to reshape our world for the better.
            </div>

            <div class="card-text mt-2">Throughout my high school journey, I delved deep into the realm of programming,
                algorithms, and data
                structures, constantly seeking to expand my knowledge and skill set. Whether it was coding projects,
                participating in hackathons, or exploring the latest developments in AI research, I always strived to
                push the boundaries of my understanding.
            </div>
            <div class="card-text mt-2">My fascination with machine learning and AI stems from their transformative
                potential to revolutionize
                industries, solve complex problems, and enhance human capabilities. I'm particularly drawn to the
                intersection of these fields with areas like healthcare, sustainability, and education, where innovative
                applications can make a tangible difference in people's lives.
            </div>
            <div class="card-text mt-2"> Driven by curiosity and a desire to make meaningful contributions, I'm
                committed to continuous learning
                and growth in the dynamic landscape of technology. I believe that by combining creativity, critical
                thinking, and perseverance, we can unlock new frontiers and create solutions that inspire and empower
                others.
            </div>
            <div class="card-text mt-2"> Outside of the digital realm, you'll often find me immersing myself in diverse
                interests like music,
                literature, and outdoor adventures. I believe in maintaining a balanced lifestyle that nurtures both my
                intellectual pursuits and personal well-being.


            </div>
            <div class="card-text mt-2">
                As I embark on the next chapter of my journey, I'm excited to channel my passion and dedication into
                further exploration, innovation, and collaboration in the world of computer science, machine learning,
                and AI. Together, let's embrace the challenges and opportunities ahead as we strive to shape a future
                driven by technology and human ingenuity.

            </div>

        </div>
    </div>

{% endblock %}