{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block page_title %}ANKIT'S BLOG{% endblock %}

{% block page_subtitle %} A collection of random insights{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="alert text-center" role="alert">
            Hi {{ user.email }}
        </div>
    {% endif %}
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            {% for blog in blogs %}

                <div class=" card col-lg-6 col-12 bg-warning p-3 text-black border-0 border-bottom border-dark offset-1 p-5">
                    <a href="{% url 'show_blog' id=blog.id %}" style="text-decoration: none; color:black;">
                        <h5 class="card-title h2 fw-bolder ms-2">
                            {{ blog.title }}
                        </h5>
                        <div class="card-body">
                            <div class="card-text fs-5 ms-0">{{ blog.subtitle }}</div>
                            <div class="card-text">Posted by {{ blog.author }} on {{ blog.created_at }}.
                                {% if request.user.id == blog.author.id or request.user.is_superuser %}

                                <a href="{% url 'delete' id=blog.id %}" style="text-decoration:none; color:white;">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor"
                                            class="bi bi-x" viewBox="0 0 16 16">
                                        <path
                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                    </svg>
                                </a>
                                {% endif %}


                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
        <div class="buttons d-flex justify-content-end col-lg-9 mt-3 mb-5">
            <button class="btn btn-primary m-2 p-2"><a href="{% url 'add_blog' %}"
                                                       style="text-decoration:none;color:white;">Add post</a></button>
            <button class="btn btn-secondary m-2 p-2">Other posts</button>
        </div>
    </div>

{% endblock %}