{% extends 'base.html' %}
{% load allauth %}
{% load account socialaccount %}

{% load allauth account %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block page_title %}
    New to here ?
{% endblock %}
{% block page_subtitle %}
    Register to get started in journey with me.
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger text-center" role="alert">
                {{ message }}

            </div>
        {% endfor %}
    {% endif %}

    <div class="container d-flex justify-content-center">
        <div class="card bg-primary col-lg-8 text-black border-0">
            <form class="p-5" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="my_email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="my_email" aria-describedby="emailHelp" name="email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="my_email" class="form-label">Contact no</label>
                    <input type="text" class="form-control" id="my_email" aria-describedby="emailHelp" name="contact">
                    <div id="emailHelp" class="form-text">We'll never share your number with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pass" name="password1">
                </div>
                <div class="mb-3">
                    <label for="re-pass" class="form-label"> Retype Password</label>
                    <input type="password" class="form-control" id="re-pass" name="password2">
                </div>
                <div class="mb-3">
                    <label for="profile" class="form-label">Profile Picture</label>
                    <input type="file" class="form-control" id="my_email" aria-describedby="emailHelp"
                           name="profile_pic">
                </div>

                <button type="submit" class="btn btn-success p-2">Register</button>
            </form>
{#            <a class="btn btn-success" href="{% provider_login_url 'google' %}?next=/">SignUp with Google</a>#}
        </div>
    </div>


{% endblock %}